<app-title title="Control Flow" withshadow/>

<section class="grid grid-cols-1 md:grid-cols-2 gap-3">
  <div class="bg-white rounded-sm shadow p-10">
  <p class="text-xl font-bold mb-5">If actual: {{ifValue()}}</p>
  <button (click)="toggleIf()" class="p-2 bg-lime-700 rounded text-white"> Change Value</button>
  @if (ifValue()) {
    <p class="text-xl font-bold mt-5 text-purple-800">Some magic happens</p>
  }
  @else {
    <p class="text-xl font-bold mt-5">*****spoiler******</p>
  }
</div>


<div class="bg-white rounded-sm shadow p-10">
  @switch (grade()) {
    @case ('A') {
      <p class="text-xl font-bold mt-5 mb-5">Current value: A</p>
    }
    @case ('B') {
    <p class="text-xl font-bold mt-5 mb-5">Current value: B</p>
    }
    @default{
      <p class="text-xl font-bold mt-5 mb-5">Current value: C</p>
    }
}
<button (click)="switchValue()" class="p-2 bg-lime-700 rounded text-white"> Change value to {{grade()==='A'?'B':'A'}}</button>

</div>
</section>

<section class="mt-10 grid grid-cols-1 md:grid-cols-2 gap-3">
  <div class="bg-white rounded-sm shadow p-10">
    <ul>
      @for (f of frameworks(); track f; let i = $index, first=$first, last=$last, odd=$odd, even=$even, count=$count) {
        <li [class]="{
          'bg-red-200':even && !first && !last,
          'bg-purple-200': odd && !first && !last,
          'bg-cyan-200': first || last
        }">
          {{i+1}}/{{count}} - {{f}}
        </li>
      }
    </ul>
  </div>

  <div class="bg-white rounded-sm shadow p-10">
    <ul>
      @for (f of frameworks2(); track f) {
        <li> {{f}}</li>
      } @empty { <p>The list is empty</p>}
    </ul>
  </div>
</section>
